@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap'); 

:root {
    --clr-main: #a36d2e;
    --clor-main-dark:#221655;
    --clr-main-light: #eea551;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a,input,textarea,ul {
    margin: 0;
    padding:0;
}



a {
    text-decoration: none;
}

.wrapper{
    display:grid;
    grid-template-columns:1fr 4fr;
    background-color: var(--clr-main);
}
aside{
    padding:2rem;
    color:var(--clr-white);
    height: 100vh;
    position: sticky; /* la fixed dejara de tener altura y se ira a la izquierda */
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.logo{
    font-weight:400;
    font-size:1.3rem;
}
.texto-footer{
    color:var(--clr-main-light);
    font-size:.85rem;
}
main{
    background-color: var(--clr-white);
    margin:1rem;
    margin-left:0;
    border-radius:2rem;
    padding:3rem;
}
.titulo-principal{
    color:var(--clr-main);
    margin-bottom: 2rem;
}
.contenedor-productos{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1rem;
}
.producto-imagen{
    max-width:100%;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color:var(--clr-white);
    padding:.5rem;
    border-radius:1rem;
    margin-top:-1.1rem;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:.25rem;
}
.producto-titulo{
    font-size: 1rem;
}
.producto-agregar{
    border:0;
    background-color: var(--clr-white);
    color:var(var(--clr-main));
    padding:.5rem;
    text-transform:uppercase;
    border-radius: 2rem;
    border-bottom: 1rem;
    cursor:pointer;
    border:2px solid var(--clr-white)
}
.producto-agregar:hover{
    background-color:var(--clr-main);
    color:var(--clr-white);
    transition: background-color .2s ,color .2s;
}